*{
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
    transition: 0.3s;
}
body{
    margin:0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "section form";
}
/* ==========erore message========= */
.erore{
    text-align: center;
    font-size: small;
    background-color: red;
    padding: 1em 2em;
    width: 50%;
    color: #ffff;
    display: none;
}
/* ======== section ======== */
section{
    background-image: url(image/solicode.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: section;
}
section h1{
    font-size: xx-large;
    text-align: center;
    margin-bottom: 2em;
}
section img{
    width: 25%;
    margin-left: 1em;
}
section p{
    width: 100%;
    text-align: center;
}
/* =======form======== */
form{
    background-color: black;
    padding: 1em;
    grid-area: form;
}
form h2{
    color: green;
}
fieldset{
    color: green;
}
label{
    color: green;
}
input[type=text] {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: green;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid green;
    outline: none;
    background: transparent;
}
form input[type=submit]{
    padding: 10px 20px;
    color: green;
    letter-spacing: 4px;
    font-weight: 600;
    border: solid green 1px;
}
form input[type=submit]:hover{
    color: #000000ca;
    background-color: green;
    border-radius: 5px;
    border-color: green;
    cursor: pointer;
}